<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">

<div class="pageContent">
	<form method="post" th:action="@{menu/save}" class="pageForm required-validate"
		  onsubmit="return validateCallback(this, dialogAjaxDone)">
		<div class="pageFormContent" layoutH="58">
			<input type="hidden" name="systemType" th:value="${systemType}">
			<input type="hidden" name="menuId" th:value="${detail?.menuId}">
			<input type="hidden" name="parentId" th:value="${parentId}"/>
			<div class="unit">
				<label>名称：</label>
				<input type="text" name="name"   th:value="${detail?.name}" byteLength="50" maxlength="50" class="required" />
			</div>
			<div class="unit">
				<label>地址：</label>
				<input type="text" name="url"  th:value="${detail?.url}" byteLength="100" maxlength="100" />
			</div>
			<div class="unit">
				<label>权限标识：</label>
				<input type="text" name="perms" th:value="${detail?.perms}" placeholder="menu:list" byteLength="500" maxlength="500" class="required"/>
			</div>
			<div class="unit">
				<label>排序号：</label>
				<input type="text"  name="orderNum" th:value="${detail?.orderNum}" maxlength="4" class="required digits"/>
			</div>
			<div class="unit">
				<label>类型：</label>
				<select class="combox required" name="type" th:value="${detail?.type}" id="status">
					<option value="0" th:selected="${detail?.type eq 0? true:false}">目录</option>
					<option value="1" th:selected="${detail?.type eq 1? true:false}">菜单</option>
					<option value="2" th:selected="${detail?.type eq 2? true:false}">按钮</option>
				</select>
			</div>

		</div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>


</form>
</html>