<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<style>
	i {
		display: inline !important;
	}
	i:hover{
		cursor: pointer;
	}
</style>
<form id="pagerForm" method="post" th:action="@{menu/listMenu}">
	<input type="hidden" name="systemType" th:value="${param.systemType}"/>
</form>
<!--<div class="pageHeader" style="border:1px #B8D0D6 solid">
	<form id="pagerForm" onsubmit="return divSearch(this, 'listMenu');" action="menu/listMenu" method="post">
		<input type="hidden" name="systemType" value="${param.systemType}" />
		<div class="searchBar">
			<table class="searchContent">
				<tr>
					<td>
						菜单名称：<input type="text" name="name"/>
					</td>
					<td><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></td>
				</tr>
			</table>
		</div>
	</form>
</div>-->
<div class="pageContent" style="border-left:1px #B8D0D6 solid;border-right:1px #B8D0D6 solid" >
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" th:href="@{menu/detail?systemType=${param.systemType}}" target="dialog" mask="true" rel="menuAdd">
				<i class="fa fa-plus-square fa-lg fa-fw"></i><label>添加根节点</label></a></li>
		</ul>
	</div>
	<table class="list" width="99%" layoutH="80" rel="listMenu">
		<thead>
			<tr>
				<th width="150">名称</th>
				<th width="50">编号</th>
				<th width="100">类型</th>
				<th width="120">地址</th>
				<th width="100">权限标识</th>
				<th width="100">排序</th>
				<th width="100">操作</th>
			</tr>
		</thead>
        <th:block th:each="item:${list}" th:if="${item.parentId}==0">
            <tr target="params" nodeHide="false"
                th:attr="rel='menuId='+${item.menuId}+'&'+'systemType='+${param.systemType},value=${item.menuId}">
                <td><i class="fa fa-minus-square-o fa-fw" onclick="nodeHide(this)"></i> <th:block th:text="${item.name}"></th:block></td>
                <td th:text="${item.menuId}"></td>
                <td th:switch="${item.type}">
                    <th:block th:case="0">目录</th:block>
                    <th:block th:case="1">菜单</th:block>
                    <th:block th:case="*">按钮</th:block>
                </td>
                <td th:text="${item.url}"></td>
                <td th:text="${item.perms}"></td>
                <td th:text="${item.orderNum}"></td>
                <td>
                    <a class="button" th:if="${item.type}!=2"
                       th:href="@{menu/detail(parentId=${item.menuId},systemType=${param.systemType})}"
                       mask="true"
                       target="dialog" title="新增菜单" width="600"><span>添加子菜单</span></a>
                    <a class="button" th:href="@{menu/detail(systemType=${param.systemType},menuId=${item.menuId})}"
                       mask="true"
                       target="dialog" title="编辑菜单" width="600"><span>修改</span></a>
                    <a class="button" th:href="@{menu/delete(systemType=${param.systemType},menuId=${item.menuId})}"
                       mask="true"
                       target="ajaxTodo" title="删除菜单" width="600"><span>删除</span></a>
                </td>
            </tr>
            <th:block th:each="childItem:${list}" th:if="${childItem.parentId} eq ${item.menuId}">
                <tr target="params" nodeHide="false"
                    th:attr="rel='menuId='+${childItem.menuId}+'&'+'systemType='+${param.systemType},value=${childItem.menuId}"
                    th:class="${item.menuId}">
                    <td style="text-indent:25px;">
                        <i th:if="${childItem.type}!=2" class="fa fa-minus-square-o fa-fw" onclick="nodeHide(this)"></i>
                        <th:block th:text="${childItem.name}"></th:block>
                    </td>
                    <td th:text="${childItem.menuId}"></td>
                    <td th:switch="${childItem.type}">
                        <th:block th:case="0">目录</th:block>
                        <th:block th:case="1">菜单</th:block>
                        <th:block th:case="*">按钮</th:block>
                    </td>
                    <td th:text="${childItem.url}"></td>
                    <td th:text="${childItem.perms}"></td>
                    <td th:text="${childItem.orderNum}"></td>
                    <td>
                        <a class="button" th:if="${childItem.type}!=2"
                           th:href="@{menu/detail(parentId=${childItem.menuId},systemType=${param.systemType})}"
                           mask="true"
                           target="dialog" title="新增菜单" width="600"><span>添加子菜单</span></a>
                        <a class="button" th:href="@{menu/detail(systemType=${param.systemType},menuId=${childItem.menuId})}"
                           mask="true"
                           target="dialog" title="编辑菜单" width="600"><span>修改</span></a>
                        <a class="button" th:href="@{menu/delete(systemType=${param.systemType},menuId=${childItem.menuId})}"
                           mask="true"
                           target="ajaxTodo" title="删除菜单" width="600"><span>删除</span></a>
                    </td>
                </tr>
                <th:block th:each="child2Item:${list}" th:if="${child2Item.parentId} eq ${childItem.menuId}">
                    <tr target="params" nodeHide="false"
                        th:attr="rel='menuId='+${child2Item.menuId}+'&'+'systemType='+${param.systemType},value=${child2Item.menuId}"
                        th:class="${childItem.menuId}+' '+${item.menuId}">
                        <td style="text-indent:50px;">
                            <i th:if="${child2Item.type}!=2" class="fa fa-minus-square-o fa-fw"
                               onclick="nodeHide(this)"></i>
                            <th:block th:text="${child2Item.name}"></th:block>
                        </td>
                        <td th:text="${child2Item.menuId}"></td>
                        <td th:switch="${child2Item.type}">
                            <th:block th:case="0">目录</th:block>
                            <th:block th:case="1">菜单</th:block>
                            <th:block th:case="*">按钮</th:block>
                        </td>
                        <td th:text="${child2Item.url}"></td>
                        <td th:text="${child2Item.perms}"></td>
                        <td th:text="${child2Item.orderNum}"></td>
                        <td>
                            <a class="button" th:if="${child2Item.type}!=2"
                               th:href="@{menu/detail(parentId=${child2Item.menuId},systemType=${param.systemType})}"
                               mask="true"
                               target="dialog" title="新增菜单" width="600"><span>添加子菜单</span></a>
                            <a class="button"
                               th:href="@{menu/detail(systemType=${param.systemType},menuId=${child2Item.menuId})}"
                               mask="true"
                               target="dialog" title="编辑菜单" width="600"><span>修改</span></a>
                            <a class="button"
                               th:href="@{menu/delete(systemType=${param.systemType},menuId=${child2Item.menuId})}"
                               mask="true"
                               target="ajaxTodo" title="删除菜单" width="600"><span>删除</span></a>
                        </td>
                    </tr>
                    <th:block th:each="child3Item:${list}" th:if="${child3Item.parentId} eq ${child2Item.menuId}">
                        <tr target="params" nodeHide="false"
                            th:attr="rel='menuId='+${child3Item.menuId}+'&'+'systemType='+${param.systemType},value=${child3Item.menuId}"
                            th:class="${childItem.menuId}+' '+${item.menuId}+' '+${child2Item.menuId}">
                            <td style="text-indent:75px;" th:text="${child3Item.name}">
                                <i th:if="${child3Item.type!=2}" class="fa fa-minus-square-o fa-fw"
                                   onclick="nodeHide(this)"></i>
                                <th:block th:text="${child3Item.name}"></th:block>
                            </td>
                            <td th:text="${child3Item.menuId}"></td>
                            <td th:switch="${child3Item.type}">
                                <th:block th:case="0">目录</th:block>
                                <th:block th:case="1">菜单</th:block>
                                <th:block th:case="*">按钮</th:block>
                            </td>
                            <td th:text="${child3Item.url}"></td>
                            <td th:text="${child3Item.perms}"></td>
                            <td th:text="${child3Item.orderNum}"></td>
                            <td>
                                <a class="button" th:if="${child3Item.type}!=2"
                                   th:href="@{menu/detail(parentId=${child3Item.menuId},systemType=${param.systemType})}"
                                   mask="true"
                                   target="dialog" title="新增菜单" width="600"><span>添加子菜单</span></a>
                                <a class="button"
                                   th:href="@{menu/detail(systemType=${param.systemType},menuId=${child3Item.menuId})}"
                                   mask="true"
                                   target="dialog" title="编辑菜单" width="600"><span>修改</span></a>
                                <a class="button"
                                   th:href="@{menu/delete(systemType=${param.systemType},menuId=${child3Item.menuId})}"
                                   mask="true"
                                   target="ajaxTodo" title="删除菜单" width="600"><span>删除</span></a>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </th:block>
	</table>
</div>
<script type="text/javascript" th:inline="javascript">
	function nodeHide(el) {
		var $tr = $(el).parents("tr:first");
		var trClass = $tr.attr("value");
		var isHidden = $tr.attr("nodeHide");
		if (isHidden == "true") {
			$tr.attr("nodeHide", "false");
			$("." + trClass).show();
		} else {
			$tr.attr("nodeHide", "true");
			$("." + trClass).hide();
		}
	}
</script>
</html>