<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="pageContent">
	<form method="post" layoutH="10"  th:action="@{role/setMenu}" class="pageForm" onsubmit="return validateCallback(this,dialogAjaxDone)">
		<input type="hidden" name="roleId" th:value="${param.roleId}" id="roleId" />
		<input type="hidden" name="menuIds" id="menuIds"/>
		<input type="hidden" name="systemType" id="systemType"/>
		<input type="hidden"  id="menus" th:value="${menus}"/>
		<ul class="tree expand" layoutH="48" id="menuTree">
			<li id="system_clear"><a tname="name" tvalue="systemType" >前台结算管理系统</a>
				<ul th:each="item:${menus}">
                    <li th:attr="id=${item.menuId}" th:if="${item.parentId==0 and item.systemType==1}">
                        <label>
                            <input type="checkbox" th:class="${item.checked=='true'?'checked':''}" name="menuId" th:value="${item.menuId}"
                                   th:text=" ${item.name}"/>
                        </label>
                        <ul th:each="childTime:${menus}">
                            <li th:attr="id=${childTime.menuId}+'_'+${item.menuId}" th:if="${childTime.parentId==item.menuId}">
                                <label>
                                    <input type="checkbox" name="menuId" th:value="${childTime.menuId}"
                                           th:text=" ${childTime.name}" th:class="${childTime.checked=='true'?'checked':''}"/>
                                </label>
                                <ul th:each="child2Time:${menus}">
                                    <li th:attr="id=${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}" th:if="${child2Time.parentId==childTime.menuId}">
                                        <label>
                                            <input type="checkbox" name="menuId" th:value="${child2Time.menuId}"
                                                   th:text=" ${child2Time.name}" th:class="${child2Time.checked=='true'?'checked':''}"/>
                                        </label>
                                        <ul th:each="child3Time:${menus}">
                                            <li th:attr="id=${child3Time.menuId}+'_'+${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                                th:if="${child3Time.parentId==child2Time.menuId}">
                                                <label>
                                                    <input type="checkbox" name="menuId" th:value="${child3Time.menuId}"
                                                           th:text=" ${child3Time.name}" th:class="${child3Time.checked=='true'?'checked':''}"/>
                                                </label>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
				</ul>
			</li>
			<li id="system_charge"><a tname="name" tvalue="systemType" >收费管理系统</a>
                <ul th:each="item:${menus}">
                    <li th:attr="id=${item.menuId}" th:if="${item.parentId==0 and item.systemType==2}">
                        <label>
                            <input type="checkbox" th:class="${item.checked=='true'?'checked':''}" name="menuId"
                                   th:value="${item.menuId}" th:text=" ${item.name}"/>
                        </label>
                        <ul th:each="childTime:${menus}">
                            <li th:attr="id=${childTime.menuId}+'_'+${item.menuId}"
                                th:if="${childTime.parentId==item.menuId}">
                                <label>
                                    <input type="checkbox" name="menuId" th:value="${childTime.menuId}"
                                           th:class="${childTime.checked=='true'?'checked':''}" th:text=" ${childTime.name}"/>
                                </label>
                                <ul th:each="child2Time:${menus}">
                                    <li th:attr="id=${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                        th:if="${child2Time.parentId==childTime.menuId}">
                                        <label>
                                            <input type="checkbox" name="menuId" th:value="${child2Time.menuId}"
                                                   th:class="${child2Time.checked=='true'?'checked':''}" th:text=" ${child2Time.name}"/>
                                        </label>
                                        <ul th:each="child3Time:${menus}">
                                            <li th:attr="id=${child3Time.menuId}+'_'+${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                                th:if="${child3Time.parentId==child2Time.menuId}">
                                                <label>
                                                    <input type="checkbox" name="menuId" th:value="${child3Time.menuId}"
                                                           th:class="${child3Time.checked=='true'?'checked':''}" th:text=" ${child3Time.name}"/>
                                                </label>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>
			</li>
			<li id="system_message"><a tname="name" tvalue="systemType" >数据传输监控系统</a>
                <ul th:each="item:${menus}">
                    <li th:attr="id=${item.menuId}" th:if="${item.parentId==0 and item.systemType==3}">
                        <label>
                            <input type="checkbox" th:class="${item.checked=='true'?'checked':''}" name="menuId"
                                   th:value="${item.menuId}" th:text=" ${item.name}"/>
                        </label>
                        <ul th:each="childTime:${menus}">
                            <li th:attr="id=${childTime.menuId}+'_'+${item.menuId}"
                                th:if="${childTime.parentId==item.menuId}">
                                <label>
                                    <input type="checkbox" name="menuId" th:value="${childTime.menuId}"
                                           th:class="${childTime.checked=='true'?'checked':''}" th:text=" ${childTime.name}"/>
                                </label>
                                <ul th:each="child2Time:${menus}">
                                    <li th:attr="id=${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                        th:if="${child2Time.parentId==childTime.menuId}">
                                        <label>
                                            <input type="checkbox" name="menuId" th:value="${child2Time.menuId}"
                                                   th:class="${child2Time.checked=='true'?'checked':''}" th:text=" ${child2Time.name}"/>
                                        </label>
                                        <ul th:each="child3Time:${menus}">
                                            <li th:attr="id=${child3Time.menuId}+'_'+${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                                th:if="${child3Time.parentId==child2Time.menuId}">
                                                <label>
                                                    <input type="checkbox" name="menuId" th:value="${child3Time.menuId}"
                                                           th:class="${child3Time.checked=='true'?'checked':''}" th:text=" ${child3Time.name}"/>
                                                </label>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>
			</li>
			<li id="system_user"><a tname="systemType" tvalue="" >用户管理系统</a>
                <ul th:each="item:${menus}">
                    <li th:attr="id=${item.menuId}" th:if="${item.parentId==0 and item.systemType==4}">
                        <label th:text=" ${item.name}">
                            <input type="checkbox" th:class="${item.checked=='true'?'checked':''}" name="menuId"
                                   th:value="${item.menuId}"/>
                        </label>
                        <ul th:each="childTime:${menus}">
                            <li th:attr="id=${childTime.menuId}+'_'+${item.menuId}"
                                th:if="${childTime.parentId==item.menuId}">
                                <label>
                                    <input type="checkbox" name="menuId" th:value="${childTime.menuId}"
                                           th:class="${childTime.checked=='true'?'checked':''}" th:text=" ${childTime.name}"/>
                                </label>
                                <ul th:each="child2Time:${menus}">
                                    <li th:attr="id=${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                        th:if="${child2Time.parentId==childTime.menuId}">
                                        <label>
                                            <input type="checkbox" name="menuId" th:value="${child2Time.menuId}"
                                                   th:class="${child2Time.checked=='true'?'checked':''}" th:text=" ${child2Time.name}"/>
                                        </label>
                                        <ul th:each="child3Time:${menus}">
                                            <li th:attr="id=${child3Time.menuId}+'_'+${child2Time.menuId}+'_'+${childTime.menuId}+'_'+${item.menuId}"
                                                th:if="${child3Time.parentId==child2Time.menuId}">
                                                <label>
                                                    <input type="checkbox" name="menuId" th:value="${child3Time.menuId}"
                                                           th:class="${child3Time.checked=='true'?'checked':''}" th:text=" ${child3Time.name}"/>
                                                </label>
                                            </li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                </ul>
			</li>
		</ul>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		var menus = $("#menus").val();
		$("input").click(function(event){
			var checked = $(this).is(':checked');
			var $li = $(this).parents("li:first");
			var id= $li.attr('id');
			$li.find("input").each(function() {
				$(this).prop("checked",checked);
				if(checked){
					$(this).addClass("checked","checked");
				}else{
					$(this).removeClass("checked");
				}
			});
			var ids = id.split("_");
			for(var i=1;i<ids.length;i++){
				var prevId = "";
				for(var j=i;j<ids.length;j++){
					prevId+=ids[j];
					if(j<ids.length-1){
						prevId = prevId+("_");
					}
				}
				var size = $("#"+prevId).find("ul input[class='checked']").length;
				if(size>0){
					$("#"+prevId).find("input:first").prop("checked",true);
					$("#"+prevId).find("input:first").addClass("checked","checked");
				}else{
					$("#"+prevId).find("input:first").prop("checked",false);
					$("#"+prevId).find("input:first").removeClass("checked");
				}
			}
			var menuIdArr = [];
			$("#menuTree").find("input[class='checked']").each(function(){
				menuIdArr.push($(this).val());
			});
			$("#menuIds").val(menuIdArr.join(","));
		});
	});
</script>
</html>