<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">

<form id="pagerForm" method="post" th:action="@{log/listLog}">
    <input type="hidden" name="pageNum" th:value="${pageBean.pageNum}" />
    <input type="hidden" name="numPerPage" th:value="${pageBean.pageSize}" />
</form>

<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" th:action="@{log/listLog}" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        系统模块：
                        <input type="text" name="title" th:value="${param.title}" class="textInput">
                    </td>
                    <td>
                        操作员：
                        <input type="text" name="operName" th:value="${param.operName}" class="textInput">
                    </td>
                    <td>
                        <select class="combox" name="operatorType">
                            <option value="0">请选择操作类型</option>
                            <option th:each="item: ${businessTypes}" th:value="${item.code}" th:selected="${(item.code+'') eq (param.operatorType+'') ? true :false}" th:text="${item.desc}"></option>
                        </select>
                    </td>
                    <td>
                        <select class="combox" name="status">
                            <option value="0">请选择操作状态</option>
                            <option th:each="item: ${statuses}" th:value="${item.code}" th:selected="${(item.code+'') eq (param.status+'') ? true :false}" th:text="${item.desc}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td>
                        开始时间：
                        <input type="text" name="startDate" th:value="${param.startDate}" readonly="readonly"
                               datefmt="yyyy-MM-dd" class="textInput date" size="15">
                    </td>
                    <td>
                        结束时间：
                        <input type="text" name="endDate" th:value="${param.endDate}" readonly="readonly"
                               datefmt="yyyy-MM-dd" class="textInput date" size="15">
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" onclick="resetAll(this)">清空重输</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a href="log/delLog" mask="true" target="selectedTodo" rel="logIds" title="删除所选日志信息?"><i
                    class="fa fa-times fa-lg fa-fw"></i> <label>删除</label></a></li>
            <li><a href="log/delAllLog" mask="true" target="ajaxTodo" title="清空所有日志信息？">
                <i class="fa fa-trash-o fa-lg fa-fw"></i><label>清空</label></a></li>
        </ul>
    </div>
    <table class="list" width="100%" layoutH="115">
        <thead>
        <tr>
            <th width="60">
                <input type="checkbox" class="checkboxCtrl" group="logIds"/>全选
            </th>
            <th width="50">日志编号</th>
            <th width="100">系统模块</th>
            <th width="100">操作类型</th>
            <th width="100">操作员</th>
            <th width="100">IP地址</th>
            <th width="100">操作状态</th>
            <th width="100">操作时间</th>
            <th width="80">操作</th>
        </tr>
        </thead>
        <tbody>
            <tr target="logId" th:attr="rel=${item.id}" th:each="item: ${pageBean.list}">
                <td><input name="logIds" type="checkbox" th:value="${item.id}"></td>
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.operatorTypeLabel}"></td>
                <td th:text="${item.operName}"></td>
                <td th:text="${item.operIp}"></td>
                <td th:text="${item.statusLabel}"></td>
                <td th:text="${item.operTime}"></td>
                <td>
                    <a th:href="@{log/logDetail(id=${item.id})}" mask="true" target="dialog" title="日志信息" ><i class="fa fa-search fa-lg fa-fw"></i><label>详情</label></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20" th:selected="${pageBean.pageSize == 20?true:false}">20</option>
                <option value="50" th:selected="${pageBean.pageSize == 50?true:false}">50</option>
                <option value="100" th:selected="${pageBean.pageSize == 100?true:false}">100</option>
                <option value="200" th:selected="${pageBean.pageSize == 200?true:false}">200</option>
            </select>
            <span th:text="'条，共' + ${pageBean.total} + '条'"></span>
        </div>

        <div class="pagination" targetType="navTab"
             th:attr="totalCount=${pageBean.total},numPerPage=${pageBean.pageSize},currentPage=${pageBean.pageNum }" pageNumShown="10" ></div>

    </div>
</div>
</html>