<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<form method="post" th:action="@{user/save}" class="pageForm required-validate"
	  onsubmit="return validateCallback(this,dialogAjaxDone);">

	<div class="pageFormContent" layoutH="56">
		<input type="hidden" name="userId" th:value="${detail?.userId}">
		<dl>
			<dt>登录名称:</dt>
			<dd>
				<input class="textInput required" th:value="${detail?.loginName}" th:attr="readonly=${detail?.userId ne null}?readonly:false"}
					   maxlength="30" byteLength="30" name="loginName" type="text"/>
			</dd>
		</dl>
		<dl>
			<dt>真实姓名:</dt>
			<dd>
				<input class="required textInput" name="fullName" th:value="${detail?.fullName}" maxlength="30"
					   byteLength="30" type="text"/>
			</dd>
		</dl>
		<dl>
			<dt>手机号码:</dt>
			<dd>
				<input  name="mobile" th:value="${detail?.mobile}" maxlength="11" type="text"/>
			</dd>
		</dl>
        <dl>
            <dt>路段名称</dt>
            <dd>
                <select class="combox" th:object="${detail?.roadNo}" th:value="${detail?.roadNo}" reset-value="" name="roadNo"
                        ref="StationNoSelect"
                        refUrl="user/queryInUseStationByRoadNo?roadNo={value}">
                    <option value="">--请选择--</option>
                    <option th:each="road : ${roadList}" th:value="${road.no}" th:text="${road.name}"
                            th:selected="${road.no== detail?.roadNo?true:false}"></option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>站名称</dt>
            <select class="combox" th:object="${detail?.stationNo}" reset-value="" name="stationNo" id="StationNoSelect">
                <option value="">--请选择--</option>
                <option th:each="station : ${stationList}" th:value="${station.no}" th:text="${station.name}"
                        th:selected="${station.no== detail?.stationNo?true:false}"></option>
            </select>
        </dl>
		<dl>
			<dt>状态:</dt>
			<dd>
				<select class="combox required" name="status" th:value="${detail?.status}" id="status">
					<option th:value="1" th:selected="${detail?.status eq '1'?true:false}" >正常</option>
					<option th:value="0" th:selected="${detail?.status eq '0'?true:false}"}>锁定</option>
				</select>
			</dd>
		</dl>
		<dl>
			<dt>是否超级管理员:</dt>
			<dd>
				<select class="combox required" name="isAdmin" th:value="${detail?.isAdmin}" id="isAdmin">
					<option th:value="0" th:selected="${detail?.isAdmin eq '0' ? true:false}" >否</option>
					<option th:value="1" th:selected="${detail?.isAdmin eq '1' ? true:false}">是</option>
				</select>
			</dd>
		</dl>
	</div>
	<div class="formBar">
		<ul>
			<li>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
			</li>
			<li>
				<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
</form>
</html>