<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">

<form id="pagerForm" method="post" th:action="@{user/list}">
    <input type="hidden" name="pageNum" th:value="${pageBean.pageNum}" />
    <input type="hidden" name="numPerPage" th:value="${pageBean.pageSize}" />
</form>

<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" th:action="@{user/list}" method="post">
        <div class="searchBar">
            <table class="searchContent">
                <tr>
                    <td>
                        用户名称：
                        <input type="text" name="fullName" th:value="${param.fullName}" class="textInput">
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><div class="button"><div class="buttonContent"><button type="button" onclick="resetAll(this)">清空重输</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="user/detail" mask="true" target="dialog" title="新增用户" rel="userAdd"  height="400">
                <i class="fa fa-plus-square fa-lg fa-fw"></i><label>新增</label></a></li>
            <li><a class="edit" href="user/detail?userId={userId}" mask="true" target="dialog" title="修改用户" rel="userEdit" height="400">
                <i class="fa fa-pencil fa-lg fa-fw"></i><label>修改</label></a></li>
            <li><a class="delete" href="user/delete?userId={userId}" mask="true" target="ajaxTodo" title="删除用户" rel="userDelete">
                <i class="fa fa-trash-o fa-lg fa-fw"></i><label>删除</label></a></li>
            <li><a class="edit" title="分配角色" href="role/listRole?userId={userId}" mask="true" target="dialog" height="500" width="800" rel="roleLoad">
                <i class="fa fa-cog fa-lg fa-fw"></i><label>分配角色</label></a></li>
            <li><a class="edit" title="重置密码" href="user/resetPwd?userId={userId}" mask="true" target="ajaxTodo" >
                <i class="fa fa-retweet fa-lg fa-fw"></i><label>重置密码</label></a></li>

        </ul>
    </div>
    <table class="list" width="100%" layoutH="115">
        <thead>
        <tr>
            <th width="50">登陆用户名</th>
            <th width="100">用户名称</th>
            <th width="100">手机号码</th>
            <th width="100">路段名称</th>
            <th width="100">站名称</th>
            <th width="100">状态</th>
            <th width="80">是否超级管理员</th>
        </tr>
        </thead>
        <tbody>
            <tr target="userId" th:attr="rel=${item.userId}" th:each="item: ${pageBean.list}">
                <td th:text="${item.loginName}"></td>
                <td th:text="${item.fullName}"></td>
                <td th:text="${item.mobile}"></td>
                <td th:text="${item.roadName}"></td>
                <td th:text="${item.stationName}"></td>
                <td th:text="${item.status eq 0?'锁定':'正常'}"></td>
                <td th:text="${item.isAdmin eq 0?'否':'是'}"></td>
            </tr>
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20" th:selected="${pageBean.pageSize == 20?true:false}">20</option>
                <option value="50" th:selected="${pageBean.pageSize == 50?true:false}">50</option>
                <option value="100" th:selected="${pageBean.pageSize == 100?true:false}">100</option>
                <option value="200" th:selected="${pageBean.pageSize == 200?true:false}">200</option>
            </select>
            <span th:text="'条，共' + ${pageBean.total} + '条'"></span>
        </div>

        <div class="pagination" targetType="navTab"
             th:attr="totalCount=${pageBean.total},numPerPage=${pageBean.pageSize},currentPage=${pageBean.pageNum }" pageNumShown="10" ></div>

    </div>
</div>
</html>