<%@ page language="java" contentType="text/html; charset=UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>风险管理平台</title>
    <link href="/static/themes/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="login">
    <div id="login_header">
        <h1 class="login_logo">
            <a href="http://demo.dwzjs.com"><img src="/static/themes/default/images/login_logo.gif" /></a>
        </h1>
        <div class="login_headerContent">
            <div class="navList">
                <ul>
                    <li><a href="#">设为首页</a></li>
                    <li><a href="http://bbs.dwzjs.com">反馈</a></li>
                    <li><a href="/static/doc/dwz-user-guide.pdf" target="_blank">帮助</a></li>
                </ul>
            </div>
            <h2 class="login_title"><img src="/static/themes/default/images/login_title.png" /></h2>
        </div>
    </div>
    <div id="login_content">
        <div class="loginForm">
            <form class="pageForm required-validate" action="/user/login" method="post" onsubmit="return validateCallback(this)">
                <c:if test="${not empty error}">
                    <label>${error}</label>
                </c:if>
                ${error}
                <p>
                    <span>用户名：</span>
                    <input type="text"  name="loginName" value="${loginName}"  size="20" class="textInput" />
                </p>
                <p>
                    <span>密码：</span>
                    <input type="password"  name="password"  value="${password}"  size="20" class="textInput" />
                </p>
                <p>
                    <label for="remember-me">记住密码</label>
                    <input name="remember"  id="remember-me" type="checkbox">
                </p>
                <div class="login_bar">
                    <input class="sub" type="submit" value=" " />
                </div>
            </form>
        </div>
        <div class="login_banner"><img src="/static/themes/default/images/login_banner.jpg" /></div>
    </div>
    <div id="login_footer">
        Copyright &copy; 2009 www.dwzjs.com Inc. All Rights Reserved.
    </div>
</div>
</body>
</html>