<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<form method="post" th:action="@{role/save}" class="pageForm required-validate"
	  onsubmit="return validateCallback(this,dialogAjaxDone);">

	<div class="pageFormContent" layoutH="56">
		<input type="hidden" name="roleId" th:value="${detail?.roleId}">
		<p>
			<label>角色名称：</label>
			<input  class="required textInput" byteLength="30"  maxlength="30" th:value="${detail?.roleName }" alt="请输入角色名称" name="roleName" />
		</p>
		<p>
			<label>角色描述：</label>
			<input class="required textInput" byteLength="200" maxlength="200" th:value="${detail?.roleRemark }" alt="请输入角色描述" name="roleRemark" />
		</p>
		<p>
			<label>状态：</label>
			<select class="combox required" name="status" th:value="${detail.status}" id="status">
				<option value="1" th:selected="${detail.status eq 1?true:false}">正常</option>
				<option value="0" th:selected="${detail.status eq 0?true:false}"}>锁定</option>
			</select>
		</p>

	</div>
	<div class="formBar">
		<ul>
			<li>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
			</li>
			<li>
				<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
</form>
</html>