<%@ page language="java" contentType="text/html; charset=UTF-8" %>
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core_rt" %>
<form method="post"
	  action="role/save" class="pageForm required-validate" onsubmit="return validateCallback(this,dialogAjaxDone);">
	<div class="pageFormContent" layoutH="56">
		<input type="hidden" name="roleId" value="${detail.roleId}">
		<p>
			<label>角色名称：</label>
			<input  class="required textInput" byteLength="30"  maxlength="30" value="${detail.roleName }" alt="请输入角色名称" name="roleName" />
		</p>
		<p>
			<label>角色描述：</label>
			<input class="required textInput" byteLength="200" maxlength="200" value="${detail.roleRemark }" alt="请输入角色描述" name="roleRemark" />
		</p>
		<p>
			<label>状态：</label>
			<select class="combox required" name="status" value="${detail.status}" id="status">
				<option value="1" ${detail.status eq 1?"selected":""}>正常</option>
				<option value="0" ${detail.status eq 0 ? "selected":""}>锁定</option>
			</select>
		</p>

	</div>
	<div class="formBar">
		<ul>
			<li>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
			</li>
			<li>
				<div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
			</li>
		</ul>
	</div>
</form>