<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<div class="pageHeader">
	<form onsubmit="return dialogSearch(this);" th:action="@{role/listRole}" method="post">
	<div class="searchBar">
		<input name="userId" type="hidden" th:value="${param.userId}"/>
		<table class="searchContent">
			<tr>
				<td>
					角色名称：<input type="text" name="roleName" th:value="${param.roleName}"/>
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" onclick="resetAll(this)">清空重输</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="edit" th:href="@{'user/setRole?userId=' + ${param.userId}}"
				   mask="true" rel="roleIds" target="selectedTodo" targetType="dialog" title="确定分配" >
				<i class="fa fa-check-square fa-lg fa-fw"></i><label>确定</label></a></li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="100">
		<thead>
			<tr>
				<th width="50">
					<input type="checkbox" class="checkboxCtrl" group="roleIds" />全选</th>
				<th width="150">角色名称</th>
				<th width="150">角色描述</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="item: ${list}" th:attr="rel=${item.roleId }">
				<td><input name="roleIds" type="checkbox" th:value="${item.roleId }" th:checked="${item.checked eq 'true'?true:false}"></td>
				<td th:text="${item.roleName}"></td>
				<td th:text="${item.roleRemark}"></td>
			</tr>
		</tbody>
	</table>
</div>
</html>
