<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">

<form id="pagerForm" method="post" th:action="@{user/list}">
	<input type="hidden" name="pageNum" th:value="${pageBean.pageNum}" />
	<input type="hidden" name="numPerPage" th:value="${pageBean.pageSize}" />
</form>

<div class="pageHeader">
	<form onsubmit="return navTabSearch(this);"  th:action="@{role/list}" method="post">
	<div class="searchBar">
		<table class="searchContent">
			<tr>
				<td>
					角色名称：<input type="text" name="roleName" th:value="${param.roleName}"/>
				</td>
			</tr>
		</table>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" onclick="resetAll(this)">清空重输</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
	<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="role/detail" mask="true" target="dialog" title="添加角色" >
					<i class="fa fa-plus-square fa-lg fa-fw"></i><label>新增</label>
				</a>
			</li>
			<li><a class="edit" href="role/detail?roleId={roleId}" mask="true"  target="dialog" title="修改角色" >
					<i class="fa fa-pencil fa-lg fa-fw"></i><label>修改</label>
				</a>
			</li>
			<li><a class="delete" href="role/delete?roleId={roleId}" mask="true"  target="ajaxTodo" title="删除角色" >
				<i class="fa fa-trash-o fa-lg fa-fw"></i><label>删除</label>
				</a>
			</li>
			<li><a class="edit" href="menu/load?roleId={roleId}" mask="true"  target="dialog"  height="500" title="关联菜单" >
				<i class="fa fa-cog fa-lg fa-fw"></i><label>关联菜单</label>
				</a>
			</li>
		</ul>
	</div>
	<table class="list" width="100%" layoutH="115">
		<thead>
			<tr>
				<th width="150">角色名称</th>
				<th width="150">角色描述</th>
				<th width="150">创建人</th>
				<th width="150">创建时间</th>
				<th width="150">修改人</th>
				<th width="150">修改时间</th>
			</tr>
		</thead>
		<tbody>
			<tr target="roleId" th:attr="rel=${item.roleId}" th:each="item: ${pageBean.list}">
				<td th:text="${item.roleName}"></td>
				<td th:text="${item.roleRemark}"></td>
				<td th:text="${item.createUser}"></td>
				<td th:text="${#dates.format(item.createTime,'YYYY-MM-DD hh:mm:ss')}" /></td>
				<td th:text="${item.updateUser}"></td>
				<td th:text="${#dates.format(item.updateTime,'YYYY-MM-DD hh:mm:ss')}" /></td>
			</tr>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>显示</span>
			<select class="combox" name="pageSize" onchange="navTabPageBreak({pageSize:this.value})">
				<option value="20" th:selected="${pageBean.pageSize == 20?true:false}">20</option>
				<option value="50" th:selected="${pageBean.pageSize == 50?true:false}">50</option>
				<option value="100" th:selected="${pageBean.pageSize == 100?true:false}">100</option>
				<option value="200" th:selected="${pageBean.pageSize == 200?true:false}">200</option>
			</select>
			<span th:text="'条，共' + ${pageBean.total} + '条'"></span>
		</div>

		<div class="pagination" targetType="navTab"
			 th:attr="totalCount=${pageBean.total},numPerPage=${pageBean.pageSize},currentPage=${pageBean.pageNum }" pageNumShown="10" ></div>

	</div>
</div>
</html>