<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.service.common.mapper.SysDictDataMapper">
  
  <resultMap id="SysDictDataBaseResultMap" type="com.system.service.common.domain.SysDictDataVO">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="DICT_SORT" jdbcType="DECIMAL" property="dictSort" />
    <result column="DICT_LABEL" jdbcType="VARCHAR" property="dictLabel" />
    <result column="DICT_VALUE" jdbcType="VARCHAR" property="dictValue" />
    <result column="DICT_TYPE" jdbcType="VARCHAR" property="dictType" />
    <result column="IS_DEFAULT" jdbcType="VARCHAR" property="isDefault" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="CREATE_USER" jdbcType="VARCHAR" property="createUser" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="UPDATE_USER" jdbcType="VARCHAR" property="updateUser" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <sql id="Base_Column_List">
      ID, DICT_SORT, DICT_LABEL, DICT_VALUE, DICT_TYPE, IS_DEFAULT, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, REMARK
  </sql>

  <select id="selectDictDataList" parameterType="com.system.service.common.domain.SysDictDataVO" resultMap="SysDictDataBaseResultMap">
      SELECT ID, DICT_SORT, DICT_LABEL, DICT_VALUE, DICT_TYPE, IS_DEFAULT, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, REMARK
      FROM TB_SYS_DICT_DATA
      <where>
          <if test="dictType != null and dictType != ''">
            AND DICT_TYPE = #{dictType}
          </if>
          <if test="dictLabel != null and dictLabel != ''">
            AND DICT_LABEL like '%' || #{dictLabel} || '%'
          </if>
          <if test="status != null and status != ''">
            AND STATUS = #{status}
          </if>
      </where>
  </select>

  <select id="selectDictDataByType" parameterType="com.system.service.common.domain.SysDictDataVO" resultMap="SysDictDataBaseResultMap">
     SELECT ID, DICT_SORT, DICT_LABEL, DICT_VALUE, DICT_TYPE, IS_DEFAULT, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, REMARK
     FROM TB_SYS_DICT_DATA
     WHERE STATUS = '0' AND DICT_TYPE = #{dictType} ORDER BY DICT_SORT ASC
  </select>

  <select id="selectDictLabel" resultType="String">
    select dict_label from TB_SYS_DICT_DATA
    where dict_type = #{dictType} and dict_value = #{dictValue}
  </select>

  <select id="selectDictDataById" parameterType="Long" resultMap="SysDictDataBaseResultMap">
     SELECT ID, DICT_SORT, DICT_LABEL, DICT_VALUE, DICT_TYPE, IS_DEFAULT, STATUS, CREATE_TIME, CREATE_USER, UPDATE_TIME, UPDATE_USER, REMARK
     FROM TB_SYS_DICT_DATA
     where ID = #{id}
  </select>

  <select id="countDictDataByType" resultType="Integer">
    SELECT COUNT(1) FROM TB_SYS_DICT_DATA WHERE DICT_TYPE = #{dictType}
  </select>

  <delete id="deleteDictDataById" parameterType="Long">
    delete from TB_SYS_DICT_DATA where ID = #{id}
  </delete>

  <delete id="deleteDictDataByIds" parameterType="String">
    DELETE FROM TB_SYS_DICT_DATA WHERE ID IN
    <foreach collection="array" item="id" open="(" separator="," close=")">
        #{id}
    </foreach>
  </delete>

  <update id="updateDictData" parameterType="com.system.service.common.domain.SysDictDataVO">
      update TB_SYS_DICT_DATA
      <set>
        <if test="dictSort != null and dictSort != ''">dict_sort = #{dictSort},</if>
        <if test="dictLabel != null and dictLabel != ''">dict_label = #{dictLabel},</if>
        <if test="dictValue != null and dictValue != ''">dict_value = #{dictValue},</if>
        <if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
        <if test="isDefault != null and isDefault != ''">is_default = #{isDefault},</if>
        <if test="status != null">status = #{status},</if>
        <if test="remark != null">remark = #{remark},</if>
        <if test="createUser != null and createUser != ''">update_user = #{createUser},</if>
        update_time = sysdate
      </set>
      where ID = #{id}
  </update>

  <update id="updateDictDataType" parameterType="String">
      UPDATE TB_SYS_DICT_DATA SET DICT_TYPE = #{newDictType} WHERE DICT_TYPE = #{oldDictType}
  </update>

  <insert id="insertDictData" parameterType="com.system.service.common.domain.SysDictDataVO">
      INSERT INTO TB_SYS_DICT_DATA(
        ID,
        <if test="dictSort != null and dictSort != ''">dict_sort,</if>
        <if test="dictLabel != null and dictLabel != ''">dict_label,</if>
        <if test="dictValue != null and dictValue != ''">dict_value,</if>
        <if test="dictType != null and dictType != ''">dict_type,</if>
        <if test="isDefault != null and isDefault != ''">is_default,</if>
        <if test="status != null">status,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="createUser != null and createUser != ''">create_user,</if>
        CREATE_TIME
      )VALUES(
        SEQ_SYS_DICT_DATA.NEXTVAL,
        <if test="dictSort != null and dictSort != ''">#{dictSort},</if>
        <if test="dictLabel != null and dictLabel != ''">#{dictLabel},</if>
        <if test="dictValue != null and dictValue != ''">#{dictValue},</if>
        <if test="dictType != null and dictType != ''">#{dictType},</if>
        <if test="isDefault != null and isDefault != ''">#{isDefault},</if>
        <if test="status != null">#{status},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="createUser != null and createUser != ''">#{createUser},</if>
        SYSDATE
      )
  </insert>

</mapper>