<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<form method="post" th:action="@{dict/add_data}" validate
   onsubmit="return validateCallback(this,dialogAjaxDone);">
    <div class="pageFormContent" layoutH="56">
        <dl>
            <dt >字典标签:</dt>
            <dd>
                <input class="required textInput" byteLength="100"
                    name="dictLabel" type="text"  size="30"/>
            </dd>
        </dl>
        <dl >
            <dt >字典键值:</dt>
            <dd ><input class="textInput required" byteLength="100" name="dictValue" type="text" size="30"/></dd>
        </dl>
        <dl>
            <dt>字典类型:</dt>
            <dd><input class="textInput required" byteLength="100" readonly name="dictType" th:value="${dictType}" type="text" size="30"/></dd>
        </dl>
        <dl>
            <dt>字典排序:</dt>
            <dd><input class="textInput required" byteLength="3" name="dictSort" type="text" size="30"/></dd>
        </dl>
        <dl>
            <dt>系统默认:</dt>
            <dd>
                <select class="combox required" name="isDefault" id="isDefault">
                    <option th:value="1">是</option>
                    <option th:value="0">否</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>状态:</dt>
            <dd>
                <select class="combox required" name="status" id="status">
                    <option th:value="1">正常</option>
                    <option th:value="0">停用</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt>备注:</dt>
            <dd><input class="textInput auditTextNeedDisabled" byteLength="100" size="30" name="remark" type="text"/></dd>
        </dl>
    </div>

    <div class="formBar">
        <ul>
            <li>
                <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
            </li>
            <li>
                <div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>
            </li>
        </ul>
    </div>
</form>
</html>