<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>后台管理系统</title>
    <link rel="icon" th:href="@{/static/themes/default/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/login/css/loginCss.css}" />
</head>
<body class="bdBg">
<div class="loginBg">
    <div class="myCont">
        <div class="top">
            <img class="logoLeft2" th:src="@{/static/login/img/logo.png}" />
        </div>
        <!--<img class="bgImg" src="img/bj1.png" />-->
        <img class="bgImg" th:src="@{/static/login/img/main.png}" />
        <img class="bgImg2" th:src="@{/static/login/img/shadow.png}" />
        <div class="form">
            <form th:action="@{/login}" method="post">
                <span class="tit">后台管理系统</span>
                <h2>用户登录</h2>
                <div style="color:red" th:text="${msg==null?'':msg}"></div>
                <label class="form-group">
                    <span>用户</span>
                    <input type="text" class="focus" name="loginName" th:value="${loginName}" placeholder="请输入用户名"
                           autofocus="autofocus" required="required"/>
                </label>
                <label class="form-group">
                    <span>密码</span>
                    <input type="password" name="password" placeholder="请输入密码" required="required"/>
                </label>
                <button>登&nbsp;&nbsp;录</button>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/static/login/js/jquery-2.1.1.min.js}" ></script>
<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    $(".form input[type='text'],.form input[type='password']").focus(function(){
        $(".form input[type='text'],.form input[type='password']").removeClass('focus');
        $(this).addClass('focus');
    })
    $(window).ready(function(){
        var t = $(window).height()/2-$('.myCont').height()/2-28;
        $('.myCont').css('padding-top',t)
//			console.log($(window).width(),$(window).height());
    })
    $(window).resize(function(){
        var t = $(window).height()/2-$('.myCont').height()/2-28;
        $('.myCont').css('padding-top',t)
//			console.log($(window).width(),$(window).height());
    })
    /* ]]> */
</script>
</html>
